label {
  display:inline-block;
  margin-bottom:.5rem;
}

input, button, select, optgroup, textarea {
  margin:0;
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

button, select {
  text-transform:none;
}

.form-control {
  display:block;
  width:100%;
  padding:0.625rem 0.625rem;
  font-size:0.875rem;
  line-height:1.3;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:0.125rem;
  transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color:#495057;
  background-color:#fff;
  border-color:#48CCFF;
  outline:0;
  box-shadow:none;
}

select.form-control:not([size]):not([multiple]) {
  height:calc(2.3875rem + 2px);
}

.mb-0, .my-0 {
  margin-bottom:0 !important;
}

.field {
  display:flex;
  flex-flow:column-reverse;
  margin-bottom:1em;
}

label, input, textarea {
  transition:all 0.2s !important;
}

label {
  font-size:14px;
  font-weight:bold;
}

